
*{
    list-style: none;
}
.grid {
    display: inline-block;
}
.list {
    display: block;
}
.card{
    width: 225px;
    padding: 4px;
    border: 4px solid rgb(41, 221, 41);
    display: inline-block;
    margin: 10px;
    position: relative;
}
.flip_effect_vertical {

    width:224px; 
    height:224px; 
    position: relative; 
     
    transition:1s; /* скорость поворота */
    transform-style: preserve-3d; /* стиль трансформирования 3-д */
}
.flip_effect_vertical:hover {

        transform: rotateY(180deg); /* поворачиваем на 180 градусов по горизон*/
}
.flip_effect_vertical .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip_effect_vertical .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    transform: rotateY(180deg);
}

.block {
    background: #fff;
    border: 1px solid blue;
    text-align: center;
    width: 200px;
    z-index: 2;
}
.block li {border-bottom: 1px dimgray solid;}
.spoiler > .block {display: none; position: absolute;}
.spoiler > input:checked + .block {display: block;}
#label_filling { display: block; color: blue; font-size: 1.1em; text-align: center; padding: 0px; margin: 0px;}
#label_filling:hover {cursor: pointer; text-decoration: underline;}




.menu-filter{
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 7px;
    display: inline-block;
}
.hidden{
    display: none;
}
.label_container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
.select_container {
    /* display: block; */
    background: #283034  ;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: antiquewhite;
    border-radius: 3.4px;
}

.transformed{transition: 1s; transform: rotate3d(0,1,0,360deg); z-index:-1} 
#container {
    position: relative;
}

/* #additionFillings {
    border: 3px solid #FFAB2E ;
} */

#additionFillings {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #additionFillingsheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }
  body {
      position: relative;
  }